

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  
  text-align: center;
  max-width: 1200px;
  margin: auto;
}
/* navbar */

.navbar{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
ul{
  display:flex;
  list-style: none;
  justify-content: flex-end;
} 


a{
  text-decoration: none;
  color: black;
  font-weight: 200;
}

/* hero section */
#hero{
 margin: 150px 20px 0px 0px;
  
}
 
.hero_title{
  font-size: 3.3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero_title span{
  color: #7580bf;
}

.hero_desc{
  padding:20px;
  max-width: 550px;
  margin: auto;
  
}

.cta_btn{
  background-color: black;
  color: white;
  padding: 15px 80px;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  font-size: 17px;
  margin-bottom: 40px;

}

.cta_btn:hover{
  background-color: #7580bf;
  transition: 0.5s;
  
}
.btn{
  color:white;
  background-color: black;
  border-radius: 40px;
  padding: 8px 30px;
  border: none;
} 

.btn:hover{
  color: white;
  background-color: #7580bf;
  transition: 0.5s
  c
}

.hero_video video{
  width: 100%;
  max-width: 900;
  border-radius: 10px;
}

/* Contact section */

.form-group{
  text-align: left;
}


/* Footer Section */

footer{
  text-align: left;
}

/* Media Queries */

@media screen and (max-width:768px) {

  .hero_title{
    font-size: 2.2rem;
  }
  .navbar{
    flex-direction: row;
    
  }

  .navbar_menu{
    display: none;
  }

  .cta_btn{
    padding: 15px 55px;
  }
  
  
}

 @media screen and (max-width:576px) {


  .hero_title{
    font-size: 1.5rem;
    /* margin: 10px 0px 40px 40px; */
    margin-left: 25px;
  }
            
    footer a{
      font-size: 10px;
       cursor: pointer;
    }

   .footer_copy{
    font-size: 14px;
   }
    .socials{
      padding-left: 20px;
    }
    
  }
     
